<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<app-sidebar-admin></app-sidebar-admin>
<main id="main" class="main">

  <!-- Breadcrumbs-->
  <div class="bg-white border-bottom py-3 mb-5">
    <div class="container-fluid d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row">
      <nav class="mb-0" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="home-root">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tablero de Super Usuario</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-end align-items-center mt-3 mt-md-0">
      <a class="btn btn-sm btn-primary text-white" href="cavisos"><i class="ri-add-circle-line align-bottom"></i> Nuevo Aviso</a>
      <a class="btn btn-sm btn-primary-faded ms-2" href="create-tutor"><i class="ri-settings-3-line align-bottom"></i> Nuevo tutor</a>
    
    </div>
    </div>
  </div>
<!-- Page Title-->
<h2 class="fs-3 fw-bold mb-2">Bienvenid@  {{ usuario.nombre}}  {{ usuario.paterno}} {{ usuario.materno}} 👋</h2>
<p class="text-muted ">Aqui podras realzar varias operaciones sobre la pagina web</p>
<!-- / Page Title-->
  <section class="section dashboard">
    
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                 
                </div>

                <div class="card-body">
                  <h5 class="card-title">Platicas <span>| Total</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ count}}</h6>
                  

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->
  <!-- Sales Card -->
  <div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
       
      </div>

      <div class="card-body">
        <h5 class="card-title">Avisos <span>| Total</span></h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-file-earmark-text"></i>
          </div>
          <div class="ps-3">
            <h6>{{count3}}</h6>
            

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Sales Card -->


<!-- Sales Card -->
<div class="col-xxl-4 col-md-6">
<div class="card info-card sales-card">

  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
   
  </div>

  <div class="card-body">
    <h5 class="card-title">Tutores<span>| Total</span></h5>

    <div class="d-flex align-items-center">
      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
        <i class="bi bi-people"></i>
      </div>
      <div class="ps-3">
        <h6>{{count4}}</h6>
       

      </div>
    </div>
  </div>

</div>
</div><!-- End Sales Card -->

<!-- Sales Card -->
<div class="col-xxl-4 col-md-6">
<div class="card info-card sales-card">

  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
   
  </div>

  <div class="card-body">
    <h5 class="card-title">Psicologas<span>| Total</span></h5>

    <div class="d-flex align-items-center">
      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
        <i class="bi bi-people"></i>
      </div>
      <div class="ps-3">
        <h6>{{count5}}</h6>
      

      </div>
    </div>
  </div>

</div>
</div><!-- End Sales Card -->





            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                
                </div>

                <div class="card-body">
                  <h5 class="card-title">Alumnos <span>| Total</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{count2 }}</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Ultimos tutores Recientes <span>| Hoy</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Division</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tutor of tutores; let i = index">
                        <th scope="row"><a href="#">i+1</a></th>
                        <td>{{tutor.data.nombre}}</td>
                        <td><a href="#" class="text-primary">{{tutor.data.division}}</a></td>
                        <td>{{tutor.data.grupo}}</td>
                        <td><span class="badge bg-success">Activo</span></td>
                      </tr>
                     
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

          

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            

            <div class="card-body" >
              <h5 class="card-title">Ultimos avisos agregados <span>| Recientes</span></h5>

              <div class="activity" *ngFor="let avise of avises; let i = index">

                <div class="activity-item d-flex">
                  <div class="activite-label m-3">{{avise.data.fecha}} </div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start m-3'></i>
                  <div class="activity-content m-3">
                    {{avise.data.titulo}} 
                  </div>
                </div><!-- End activity item-->

               

              </div>

            </div>
          </div><!-- End Recent Activity -->

       

        </div><!-- End Right side columns -->

      </div>
    </section>
              
             
 

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Spartan Web</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">Spartan Web</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>