<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play | Open source Project by UIdeck</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="assets/images/favicon.svg"
      type="image/svg"
    />

    <!-- ===== All CSS files ===== -->
   
  </head>
  <body>
    <!-- ====== Header Start ====== -->
<app-navbar-public></app-navbar-public>
    <!-- ====== Header End ====== -->

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Avisos 📢</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    
 
    <hr>
    
    <!-- ====== Blog Start ====== -->
    <section class="ud-blog-grids">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image contenedor">
                <a href="">
                  <img src="assets/images/avisos/jovenes.png" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Octubre 2, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Resultodos Beca Escribiendo el Futuro
                  </a>
                </h3>
                <p class="ud-blog-desc">
                Se dan a  conocer los Aspirantes Seleccionados en la Beca...
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image contenedor">
                <a href="">
                  <img src="assets/images/avisos/evento1.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Sep 22, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Inicia la jornanda Academica de Industrial
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  El Nuevo director da inicio a la semana academica de insdustrial...
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image contenedor">
                <a href="">
                  <img src="assets/images/avisos/evento2.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Agosto 2, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Ultimo dia para realizar encuestas de servivcios
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  Realiza tu Encuesta para Evitar Adeudos..,
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image contenedor">
                <a href="">
                  <img src="assets/images/avisos/medal.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Junio 21, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                   Medalla de oro en Programacion 
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  Alumnos de Sistemas Logran Medalla de oro en concurso de programacion
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image  contenedor">
                <a href="">
                  <img src="assets/images/avisos/evento3.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Junio 18, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Conferencia Padres Nuevo Ingreso
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  La conferencia de padres de nuevo ingreso  se dara en el
                  salon audiovisual.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image  contenedor">
                <a href="">
                  <img src="assets/images/avisos/sice1.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Mayo 30, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Sicenet cierra calificaciones Por ultima vez
                  </a>
                </h3>
                <p class="ud-blog-desc">
                 Se da el ultimo Corte de calificaciones del semestre. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image  contenedor">
                <a href="">
                  <img src="assets/images/avisos/note1.jpeg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Mayo 27, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Mañana no Hay clases en la Institucion
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  Mañana se supenderan clases por el dia del estudiante
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image  contenedor">
                <a href="">
                  <img src="assets/images/avisos/samuele.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Mayo 19, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                    Estudiante Destacado del Mes Sistemas Computacionales
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  El alumno no binario  Samuele Pinede es elegido como el estudainte del mes
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image contenedor">
                <a href="">
                  <img src="assets/images/avisos/note3.jpg" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">Abril 27, 2023</span>
                <h3 class="ud-blog-title">
                  <a href="">
                   Dua lipa es la nueva Directora del Tec
                  </a>
                </h3>
                <p class="ud-blog-desc">
                  Dua lipa se convierte en la directora del insituto junto a su secretario Manuel Vergara
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Blog End ====== -->

    <app-footer-public></app-footer-public>
    <!-- ====== Footer End ====== -->

    <!-- ====== Back To Top Start ====== -->
    
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
