<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- ====== Header Start ====== -->
   <app-navbar-public></app-navbar-public>
    <!-- ====== Header End ====== -->
    
    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Solicitar Atención 🚀</h1>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    
    <!-- ====== Login Start ====== -->
    <div class="containeer" >
      <div class="row" >
        <div class="col-lg-9" >
          <!-- Aquí va tu formulario de inicio de sesión -->
          <section class="ud-login" id="#up" style="border-radius: 12px; margin-top: -70px;">
            <div class="container" style="margin-top: 16px;">
             
              
              <div class="row">
                <div class="col-lg-12" >
                  <div class="ud-login-wrapper">
                    <div class="ud-login-logo">
                      <img style="width: 200px; margin-bottom: -30px; margin-left: auto;" src="assets/images/logo/logo-ajjaj.png" alt="logo" /> <br><br><br>
                      <label style="font-size: 28px; margin-bottom: 9px;"><b>Bienvenido a PsicoItsch</b> </label> <br><br>

                      <label style="font-size: 16px; margin-bottom: 9px;"><b>¡Solicita Tu Atención Psicologica ahora!</b> </label>
                    </div>
                    <div class="" style="display: flex; justify-content: center; ">
                      
                      <form class="form" style="border-radius: 12px; margin-top: -70px;" >

                        <label>
                          <input class="inputa" required id="name" type="text" placeholder="">
                          <span>Nombre Completo</span>
                          <div *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched"  class="alert alert-danger">
                            Tu nombre es obligatorio.
                          </div>
                        </label>
                        
                      <div class="flex justify-content-center">
                        <label>
                          <select  [(ngModel)]="usuario.grupo" class="inputa" style="width: 192px;" type="text" placeholder="" required id="grupo" name="grupo" formControlName="grupo" pattern="\d{3}[A-Za-z]{1}">
                            <option selected>Elige tu Grupo</option>
                            <option value="071CA">071CA</option>
                            <option value="071DB">071DB</option>
                            <option value="072CA">072CA</option>
                            <option value="072DB">072DB</option>
                            <option value="073CA">073CA</option>
                            <option value="073DB">073DB</option>
                            <option value="074CA">074CA</option>
                            <option value="074DB">074DB</option>
                            <option value="075CA">075CA</option>
                            <option value="075DB">075DB</option>
                            <option value="076CA">076CA</option>
                            <option value="076DB">076DB</option>
                            <option value="077CA">077CA</option>
                            <option value="078CA">078CA</option>
                            <option value="078DB">078DB</option>
                            <option value="079CA">079CA</option>
                          </select>
                          <span>Grupo</span>
                          <div *ngIf="registroForm.get('grupo')?.touched && registroForm.get('grupo')?.errors?.['required']"
                          class="alert alert-danger">Este campo es Obligatorio</div>
                          
                      
                          <div *ngIf="registroForm.get('grupo')?.hasError('pattern') && registroForm.get('grupo')?.touched"  class="alert alert-danger">
                            Ingresa correctamente tu Grupo.
                          </div>
                        </label>
                      
                        
                        <label>
                          <input class="inputa" style="width: 192px;" type="text" placeholder="" required="">
                          <span>Numero de Control</span>
                          <div *ngIf="registroForm.get('nocontrol')?.hasError('required') && registroForm.get('nocontrol')?.touched"  class="alert alert-danger">
                            Tu Numero de Control es obligatorio.
                          </div>
                          <div *ngIf="registroForm.get('password')?.hasError('minlength') && registroForm.get('password')?.touched"  class="alert alert-danger">
                            El Numero de Control debe tener 9 caracteres.
                          </div>
                      </label>
                            
                      </div>

                      <label>
                        <select class="inputa" required id="carrera" formControlName="carrera">
                          <option value="" disabled selected>Selecciona tu Carrera</option>
                          <option value="ingenieria">Sistemas Computacionales</option>
                          <option value="informatica">Gestión Empresarial</option>
                          <option value="nanotecnologia">Nanotecnología</option>
                          <option value="mecatronica">Mecatrónica</option>
                          <option value="bioquimica">Bioquímica</option>
                          <option value="industrial">Industrial</option>
                          <option value="tics">TIC's</option>
                          <!-- Agrega más opciones según sea necesario -->
                        </select>
                        <span>Carrera</span>
                        <div *ngIf="registroForm.get('carrera')?.hasError('required') && registroForm.get('carrera')?.touched"  class="alert alert-danger">
                          La selección de carrera es obligatoria.
                        </div>
                      </label>

                      

                      <div class="flex justify-content-center">
                        <label>
                          <input class="inputa" style="width: 192px;" type="tel" placeholder="" pattern="[0-9]{10}" required title="Ingresa un número de teléfono válido de 10 dígitos">
                          <span>Teléfono</span>
                          <div *ngIf="registroForm.get('tel')?.touched && registroForm.get('tel')?.errors?.['required']"
                          class="alert alert-danger">Este campo es Obligatorio</div>
                          
                      
                          <div *ngIf="registroForm.get('tel')?.hasError('pattern') && registroForm.get('tel')?.touched"  class="alert alert-danger">
                            Ingresa correctamente tu Numero.
                          </div>
                        </label>
                        <label>
                          <input class="inputa" style="width: 192px;" type="datetime-local" placeholder="" required
                                 name="fecha">
                          <span>Fecha y Hora</span>
                          <div *ngIf="registroForm.get('fecha')?.touched && registroForm.get('fecha')?.errors?.['required']"
                               class="alert alert-danger">Este campo es Obligatorio
                          </div>
                      </label>
                        
                    </div>
                    <label>
                      <input class="inputa" required id="name" type="text" placeholder="">
                      <span>Nombre Completo del Tutor</span>
                      <div *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched"  class="alert alert-danger">
                        Tu nombre es obligatorio.
                      </div>
                    </label>

                    
                    <label>
                      <input class="inputa" required id="name" type="text" placeholder="Canalizado por:"><br>
                      <div style="position: relative; display: flex; align-items: center; margin-top: -50px;">
                        <input class="inputa" style="position: relative;" type="checkbox" [(ngModel)]="canalizadoPorTutor" name="tutor"> Tutor
                        <input class="inputa" style="position: relative;" type="checkbox" [(ngModel)]="canalizadoPorVoluntario" name="voluntario"> Voluntaria
                      </div>
                      <span>Canalizado por:</span>
                     </label>
                      

                     <label>
                      
                      <textarea class="inputa" style="height: 100px; width: 100%; overflow: auto;" required id="name" name="name"></textarea>
                      <span>Motivo de Solicitud de Atención: </span>
                      <div *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched" class="alert alert-danger">
                      Tu nombre es obligatorio.
                      </div>
                     </label>
                   

                     <label>
                      
                      <textarea class="inputa" style="height: 100px; width: 100%; overflow: auto;" required id="name" name="name"></textarea>
                      <span>Observaciones... </span>
                      <div *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched" class="alert alert-danger">
                      Tu nombre es obligatorio.
                      </div>
                     </label>
                    <button class="button-submit" type="submit">Solicitar Atencion Psicologica</button> 
                  </form>               
                     </div>                                     
                  </div>                  
                </div>                
              </div>      
            </div>
           
          </section>
        </div>
        
      </div>
    </div>

    <!-- ====== Login End ====== -->

<app-footer-public></app-footer-public>

    <!-- ====== Back To Top Start ====== -->
    
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
     <script  src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-79264a40-3c75-01f9-5df8-3943faaf4806" crossorigin></script>
  </body>
</html>

