<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Platicas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">

</head>

<body>

 <app-sidebar-admin></app-sidebar-admin>

  <main id="main" class="main">
    <section  class="section dashboard;" style="background-image: url('assets/images/magic.png');
    opacity: 1; 
    opacity: 1; padding-left: 15px; padding-bottom: 20px; padding-top: 20px; border-radius: 15px;">
      <div class="pagetitle">
        <h1>Todos las Platicas</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="home-root" class="text-dark">Home</a></li>
            <li class="breadcrumb-item active">Platicas</li>
            <li class="breadcrumb-item active">Todas las Platicas</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
   <!-- Page Title-->

   <p class="text-dark fw-bold ">Todos las Platicas se publican en tiempo real</p><br>
   
  <div class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>
    </section>
    
    <div class="row mt-3">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let platica of platicas; index as i">
        <div class="bg-white rounded shadow-sm mx-auto align-items-center">
          <div class="d-flex align-items-center justify-content-center bg-info"><img src="{{platica.data.foto}}" alt="{{platica.data.foto}}" class=" card-img-top mercedes2"></div>
          <div class="p-4 ">
           
            <h5> <a  class="text-dark limitado3">{{ platica.data.tema }}</a></h5>
          
            <p class="small text-muted mb-0 limitado" >{{ platica.data.descripcion }}</p>
            <p class="small text-muted mb-0">{{ platica.data.fecha }}</p>
            <p class="small text-muted mb-0">{{ platica.data.hora }}</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <span class="badge bg-success"><a class="text-white"href="javascript:void(0)"(click)="detalle(platica.id)">Ver</a></span>
              <span class="badge bg-info"><a class="text-white" href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"(click)="editar(platica.id)">Editar</a></span>
              <span class="badge bg-danger"><a class="text-white" href="javascript:void(0)" (click)="eliminar(platica.id)">Eliminar</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->


    </div>
    
    
  <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Platica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-lg-12 align-self-center">
    
              <div class="card align-self-center">
                <div class="card-body align-self-center">
                  <h5 class="card-title"><i class="bi bi-megaphone"></i>  Platica</h5>
    
                 
    
                  <!-- Floating Labels Form -->
                  <form class="row g-3" [formGroup]="avisoeditForm">
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="tema"  value="{{platicae.tema}}" [(ngModel)]="platicae.tema" formControlName="tema"  >
                        <label for="titulo"><i class="bi bi-at"></i> tema</label>
                      </div>
                      
                    </div>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-card-image"></i> Imagen de Platica</label>
                      <div class="col-md-8 col-lg-8">
                        <div class="pt-2 text-center">
                          <img src="{{platicae.foto}}" alt="Platica" class="img-fluid mt-2 mx-auto d-block " style="width:50%;">
                          <a *ngIf="imagen" href="javascript:void(0)" class="btn btn-primary btn-sm m-3" title="subir foto"><input name="imagen" type="file"     class="form-control" (change)=" uploadImage($event)"><i class="bi bi-upload"></i></a>
                          <a  *ngIf="!imagen" href="javascript:void(0)"  class="btn btn-danger btn-sm mt-2" title="eliminar foto" (click)="eliminaf()"><i class="bi bi-trash"></i></a>
                          
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="ponente"  value="{{platicae.ponente}}" [(ngModel)]="platicae.ponente" formControlName="ponente"  >
                          <label for="ponente"><i class="bi bi-at"></i>ponente</label>
                        </div>
                        
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="number" class="form-control" id="cupo"  value="{{platicae.cupo}}" [(ngModel)]="platicae.cupo" formControlName="cupo"  >
                          <label for="cupo"><i class="bi bi-at"></i>cupo</label>
                        </div>
                        
                      </div>
                   
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="descripcion" placeholder="" formControlName="descripcion" 
                        value="{{platicae.descripcion}}"
                        [(ngModel)]="platicae.descripcion" >
                        <label for="descripcion"><i class="bi bi-file-earmark"></i> Pequeña Descripcion</label>
                      </div>
                      
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="date" class="form-control" id="fecha"  value="{{platicae.fecha}}" formControlName="fecha" [(ngModel)]="platicae.fecha" >
                        <label for="fecha"><i class="bi bi-calendar"></i> fecha</label>
                      </div>
                      
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                          <input type="time" class="form-control" id="hora"  value="{{platicae.hora}}" formControlName="hora" [(ngModel)]="platicae.hora" >
                          <label for="hora"><i class="bi bi-calendar"></i> hora</label>
                        </div>
                        
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="lugar"  value="{{platicae.lugar}}"formControlName="lugar" [(ngModel)]="platicae.lugar" >
                          <label for="lugar"><i class="bi bi-geo-alt"></i> Lugar</label>
                        </div>
                        
                      </div>
                   
                  
                    
                  </form><!-- End floating Labels Form -->
    
                </div>
              </div>
    
            </div>
          </div>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editardocumento()" >Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div><!-- End Modal Dialog Scrollable-->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Spartan Web</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">Spartan Web</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>