<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="theme-color" content="#4285f4"/>

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">


  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />



  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>

<app-sidebar-perfil-student></app-sidebar-perfil-student>

  <main id="main" class="h-100 gradient-custom-2">

    <section class="h-100 gradient-custom-2">
        <div class="">
          <div class=" " >
            <div class="card5">
             
                <div class="rounded-bottom text-white d-flex " style="background-color: #000; height:200px; border-radius: 15px;">
                 
                  <div class="ms-5 mt-5 d-flex flex-column" style="width: 150px;">
                    
                    

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 100%; z-index: 1">
                    <button href="editperfil-student" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="white"
                      style="z-index: 1;" >
                      Edit profile
                    </button>
            
                  </div>
                  
                  <div class="ms-4 text-white" style="margin-top: 130px;">
                    <h5 style="color: #f0ffff;"><b>Antonio Medina</b></h5>
                    <p style="color: #f0ffff;">Ing. Sistemas Computacionales</p>
                  </div>
                  
                  
                </div>
                
                <div class="rounded-top p-4" style="background-color: #f8f9fa; border-radius: 15px; margin-bottom: -35px;">
                  <div class="d-flex justify-content-center  py-5">
                    <div class="navbar-2" style="background-color: #f8f9fa; border-radius: 15px; margin-bottom: -65px;">
                        <div class="nav1-item"><a href="editperfil-student">Mis Datos</a></div>
                      
                        <div class="nav1-item"><a href="#carnet">Carnet</a></div>
                        <div class="nav1-item"><a href="#">Identicación del alumno</a></div>
                        <div class="nav1-item"><a href="#">Ficha de identificación</a></div>
                        <div class="nav1-item"><a href="#">Actividades</a></div>
                        
                      </div>
                  </div>
                </div>
              
              
            </div>
          </div>
        </div>
      </section>
 <!-- / Page Title-->
    <section class="section dashboard ">
     
        <section class="" style="background-color: #eee; border-radius: 25px; margin-bottom: 15px;">
        <section class="" style="background-color: #eeeeeede; border-radius: 25px; margin-bottom: 15px;">
            <div class="container py-4">
                <div class="" style="padding-top: 25px; text-align: center; font-size: 65px;">
                    <p class="mb-1" style=" font-size: 22px; padding-bottom: 15px;"><b>Información General</b></p>
                  </div>

                  
              <div class="row">  
                <div class="col-lg">
                  <!-- Segundo card -->
                  <div class="">
                     
                      <div style="width: px;">
                        <div class="" >

                          <div class="card55" style=" padding-left: 0px; margin-right: px;">
                            <div class="card-boody pt-3">
                              <!-- Bordered Tabs -->
                              
                              <div class="row text-center">
                                <div class="col-md-6">
                                  <div class="cardo ">
                                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                      <!-- Contenido de la segunda tarjeta -->
                                      <h5 class="card-title">Datos Personales</h5>
                  
                                    <div class="row"> 
                                      <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                                      <div class="col-lg-9 col-md-8">José Antonio Medina Esquivel</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Edad</div>
                                      <div class="col-lg-9 col-md-8">20</div>
                                    </div><hr>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Fecha de Nacimiento</div>
                                      <div class="col-lg-9 col-md-8">20/09/2003</div>
                                    </div><hr>
                  
                                   
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Direccion</div>
                                      <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Telefono</div>
                                      <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Correo Personal</div>
                                      <div class="col-lg-9 col-md-8">antoniom.gmail.com</div>
                                    </div><hr>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-md-6">
                                  <div class="cardo">
                                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                      <!-- Contenido de la primera tarjeta -->
                                      <h5 class="card-title" >Datos Academicos</h5>
                  
                                      <div class="row"> 
                                        <div class="col-lg-3 col-md-4 label ">Carrera</div>
                                        <div class="col-lg-9 col-md-8">Ing. Sistemas Computacionales</div>
                                      </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Especialidad</div>
                                      <div class="col-lg-9 col-md-8">Ingenieria de Software</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Grupo</div>
                                      <div class="col-lg-9 col-md-8">077CA</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Numeró de Control</div>
                                      <div class="col-lg-9 col-md-8">S20030139</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Correo Institucional</div>
                                      <div class="col-lg-9 col-md-8">S20030139.itsch.edu.mx</div>
                                    </div><hr>                                                                                                      
                                   </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><br><br>

                <div class="" style="padding-top: 25px; text-align: center; font-size: 65px;">
                  <p class="mb-1" style=" font-size: 22px; padding-bottom: 5px;"><b>Carnet</b></p>
                </div>
                <div class="row ">  
                  <div class="col-lg">
                    <!-- Segundo card -->
                    <div class="">
                       
                        <div style="width: px;">
                          <div class="" >
  
                            <div class="card55" style=" padding-left: 20px; margin-right: px;">
                              <div class="card-boody pt-3">
                                <!-- Bordered Tabs -->
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="cardo">
                                      <div class="tab-pane fade show active profile-overview" id="carnet">
                                        <!-- Contenido de la segunda tarjeta -->
                                        <h5 class="card-title text-center" style="margin-bottom: 30px;" >Aplicación del carnet del alumno</h5>
                    
                                      <div class="row" > 
                                        <div class="col-lg-3 col-md-4 label ">ENTREVISTAS: </div>
                                        <div style="font-size: 16px;" class="col-lg-9 col-md-8">Este apartado debera ser llenado cuando el tutor realice alguna entrevista al alumno en caso de ser necesario, ademas deberá contener la firma del alumno.</div>
                                      </div><hr><br>
                    
                                      
                                      <div class="row" >
                                        <div class="col-lg-3 col-md-4 label">CANALIZACIÓN: </div>
                                        <div style="font-size: 16px;" class="col-lg-9 col-md-8">Este apartado será llenado si el tutor o alguna otra persona canaliza al alumno a alguna área (médica, Psicológica, académica, administrativa) por alguna situación en particular, el tutor deberá de colocar la fecha de solicitud de canalización, el área a la que se canaliza en el espacio indicado y el responsable del área deberá poner su firma y la fecha del servicio otorgado.</div>
                                      </div><hr><br>
                  
                    
                                      <div class="row">
                                        <div class="col-lg-3 col-md-4 label"></div>
                                        <div class="col-lg-9 col-md-8">LA FINALIDAD DE ESTE CARNET ES LLEVAR UN CONTROL MAS CLARO DE LOS ALUMNOS Y SU PARTICIPACIÓN DENTRO DEL PROGRAMA INSTITUCIONAL DE TUTORÍAS Y LOS SERVICIOS QUE ESTE PROGRAMA OFRECE, ADEMÁS DE QUE SERVIRÁ COMO EVIDENCIA PARA QUE EL ALUMNO LIBERE SU CRÉDITO DE TUTORÍAS.</div>
                                      </div><hr>
                    
                                      
                                      </div>
                                    </div>
                                  </div>
                                
                                  <div class="col-md-6" >
                                    <div class="cardo" >
                                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                        <!-- Contenido de la primera tarjeta --><a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                          <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                        </a>
                                        <h5 class="card-title col-lg- col-md- label text-center" style="margin-bottom: -25px; border: #000;" >TECNOLÓGICO NACIONAL DE MÉXICO CAMPUS CIUDAD HIDALGO</h5>
                                        <hr>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -10px; margin-bottom: 20px;">
                                            DEPARTAMENTO DE TUTORÍAS Y SERVICIOS
                                          </div>
                                        </div>
                                        <div class="row justify-content-center" style="font-size: 25px;">
                                          <div class="col-lg- col-md- label text-center">
                                           <b> CARNET DE CANALIZACIÓN TUTORIAS</b>
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            AGOSTO - JUNIO 2023
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center highlight-container" style="margin-top: -18px; margin-bottom: -5px; color: royalblue;">
                                            <mark style="background-color: #2c178ce1; color: rgb(255, 255, 255);">DEPARTAMENTO DE TUTORÍAS Y SERVICIOS</mark>
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            SISTEMAS COMPUTACIONALES
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            CARRERA
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            077CA
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            GRUPO
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            S20030139
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            NO. CONTROL
                                          </div>
                                        </div>  
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                           MEDINA ESQUIVEL JOSÉ ANTONIO  
                                           
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            NOMBRE (Apellidos y nombres)
                                          </div>
                                        </div>
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                           *************************
                                           
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: 15px;">
                                            NOMBRE Y FIRMA DEL TUTOR
                                          </div>
                                        </div><br>
                                                                                                                                           
                                     </div>
                                    </div>
                                  </div>

                                  <div>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><br><br>

                  <div class="" style="padding-top: -5px; text-align: center; font-size: 65px;">
                   
                  </div>
                  <div class="row ">  
                    <div class="col-lg">
                      <!-- Segundo card -->
                      <div class="">
                         
                          <div style="width: px;">
                            <div class="" >
    
                              <div class="card" style=" padding-left: 5px; padding-right: px;">
                                <div class="card-boody pt-3" id="carnet">
                                  <!-- Bordered Tabs -->
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class=""> 
                                        <div class="card"  style="  margin-right: 8px;">
                                          <div class="card-body">
                                            <h5 class="card-title text-center"  style="  margin-bottom: 2px;">TUTORIA INDIVIDUAL (ENTREVISTAS) <button class="add-button" onclick="addTable()">+</button><hr></h5>
                                            
                                            <!-- Table with hoverable rows -->
                                            <table class="table table-hover ">
                                             
                                              <tbody >
                                                <tr class="hr-container">
                                                  <th scope="row">Fecha </th>
                                                  <td>15/Diciembre/2023 </td>
                                                  <td></td>
                                                  <th ></th>
                                                  <td></td>
                                                </tr>
                                                <tr>
                                                  <th >Tema de la <br> Entrevista</th>
                                                  <td>Materias Atrasadas</td>
                                                  <th></th>
                                                  
                                                  <th scope="row"></th>
                                                  <td></td>
                                                   
                                                </tr>
                                                <tr>
                                                  
                                                  <th scope="row">Firma del Alumno</th>
                                                  <td><a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                    <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a></td>
                                                  
                                                  <th scope="row">Firma del Tutor</th>
                                                  <td><a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                    <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a></td>
                                                  <th scope="col"></th>
                                                </tr>
                                                <tr>
                                                  <th scope="col"><input style="width: 50px; height: 100px;" type="text"></th>
                                                  <th scope="col"></th>
                                                  <th scope="col"></th>
                                                  <th scope="col"></th>
                                                  <th scope="col"></th>
                                                </tr> 
                                                
                                                
                                              </tbody>
                                              
                                              
                                            </table>
                                            <!-- End Table with hoverable rows -->
                              
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  
                                    <div class="col-md-6" >
                                      <div class="" >
                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                          <!-- Contenido de la primera tarjeta -->
                                          <div class="row">
                                            <div class="col-md-">
                                              <div class="" > 
                                                <div class="card" style="  margin-right: 8px;" >
                                                  <div class="card-body">
                                                    <h5 class="card-title text-center"  style="  margin-bottom: -25px;">CANALIZACIÓN ACADEMICA <button class="add-button" onclick="addTable()">+</button><hr></h5>
                                      
                                                    <!-- Table with hoverable rows -->
                                                    <table class="table table-hover ">

                                                      <thead>
                                                        <tr>
                                                          <th>Asesoría Académica</th>
                                                          <th style="width: 200px;">Nombre de la Asignatura</th>
                                                          <th style="width: 2px;"></th>
                                                          <th>Fecha de Solicitud</th>
                                                          <th></th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <td><input type="checkbox" id="perfilCheckbox"> <label for="perfilCheckbox">Perfil</label><br>
                                                            <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Ciencias Básicas</label>
                                                          </td>
                                                          <td>Taller de Investigación</td>
                                                          <td></td>
                                                          <td>15/Diciembre/2023</td>
                                                          <td></td>
                                                        </tr>
                                                        <!-- Agrega más filas según sea necesario -->
                                                      </tbody>
                                                      <thead>
                                                        <tr>
                                                          <th>Status</th>
                                                          <th style="width: 200px;">Nombre y firma del tutor</th>
                                                          <th style="width: 2px;"></th>
                                                          <th>Fecha de Atención</th>
                                                          <th></th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            <input type="checkbox" id="OrdinariaCheckbox"> <label for="OrdinariaCheckbox">Ordinaria</label><br>
                                                            <input type="checkbox" id="RepeticiónCheckbox"> <label for="RepeticiónCheckbox">Repetición</label><br>
                                                            <input type="checkbox" id="EspecialCheckbox"> <label for="EspecialCheckbox">Especial</label><br>
                                                            
                                                          </td>
                                                          <td>Juan Carlos Madrigal Perez
                                                            <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                              <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                            </a>
                                                          </td>
                                                          <td></td>
                                                          <td>15/Diciembre/2023</td>
                                                          <td></td>
                                                        </tr>
                                                        <!-- Agrega más filas según sea necesario -->
                                                      </tbody>
                                                    </table>
                                                    <!-- End Table with hoverable rows -->                                    
                                                  </div>
                                                </div>
                                              </div>
                                            </div>          
                                            <div>                                              
                                            </div>
                                          </div>                                                                                                                      
                                       </div>
                                      </div>
                                    </div>  
                                    <div>                                      
                                    </div>
                                  </div>                                 
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><br><br>

                <div class="" style="padding-top: 5px; text-align: center; font-size: 65px;">
                  <p class="mb-1" style=" font-size: 22px; padding-bottom: 15px;"><b>Identificación del alumno</b></p>
                </div>

                <!-- End Default Card -->
  
                
                    
                    <div class="rectangle184-container">
                      <div class="rectangle184-dummy-container">
                        <img
                          alt="Rectangle1849814"
                          src="public/external/rectangle1849814-ns67-700h.png"
                          class="rectangle184-rectangle184"
                        />
                        <img
                          alt="download29919"
                          src="public/external/download29919-eerh-200w.png"
                          class="rectangle184-download2"
                        />
                        <img
                          alt="image"
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          class="rectangle184-image"
                        />
                        <span class="rectangle184-text">
                          <span class="rectangle184-text01">Nombre:</span>
                          <span class="rectangle184-text02">
                            <span>José Antonio Medina Esquivel</span>
                            <br />
                            <span></span>
                          </span>
                          <span class="rectangle184-text06">Carrera:</span>
                          <span class="rectangle184-text07">
                            <span>Sistemas Computacionales</span>
                            <br />
                            <span></span>
                          </span>
                          <span class="rectangle184-text11">Grupo:</span>
                          <span class="rectangle184-text12">
                            <span>077CA</span>
                            <br />
                            <span></span>
                          </span>
                          <span class="rectangle184-text16">Control:</span>
                          <span>123456789</span>
                        </span>
                        <img
                          alt="download29919"
                          src="public/external/download29919-eerh-200w.png"
                          class="rectangle184-download21"
                        />
                        <img
                          alt="download61052"
                          src="public/external/download61052-l1c-200h.png"
                          class="rectangle184-download6"
                        />
                        <img
                          alt="download41052"
                          src="public/external/download41052-e26-200h.png"
                          class="rectangle184-download4"
                        />
                        <span class="rectangle184-text18">
                          <span>TECNOLOGICO</span>
                          <br />
                          <span>NACIONAL DE MEXICO</span>
                        </span>
                      </div>
                    </div>



                  



                <div class="card23 cardw mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img style="width: 150px; margin: 35px  10px 20px 50px;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body cardw" style="margin-left: 50px;">
                        <div class="col-lg-12 col-md-12 text-center" style="margin-top: 10px;">
                          <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                            <img style="height: auto; width: 39px; margin-bottom: -6px;" src="assets/images/logo/itsch-1.png" alt="Logo"/>
                          </a>
                        </div>
                        <h5 style="margin-top: 30px;" class=" label text-center text-white">TECNOLOGICO <br> NACIONAL DE MEXICO</h5>
                        
                        
                        
                        <p><strong>Nombre:</strong> José Antonio Medina Esquivel</p>
                        <p><strong>Carrera:</strong> Sistemas Computacionales</p>
                        <p><strong>Grupo:</strong> 077CA</p>
                        <p><strong>Numero de control:</strong> 123456789</p>

                       

                      </div>
                    </div>
                  </div> 
                </div>

              

                <div class="card22" style="margin-left: 5px; justify-content: center;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Default Card</h5>
                  
                    Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
                    Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
                    Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
                 
                     
                  </div>

                  



                 










                </div><!-- End Default Card -->
                
              
            </div>
        </section>  
        
       
        </section>
    </section></main>        
                
             
       
          
          
  

 

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script>
    let tableCount = 1;
  
    function addTable() {
      const tablesContainer = document.getElementById('tables-container');
      
      const newTable = document.createElement('table');
      newTable.className = 'table table-hover table-no-border'; 
  
      const tableBody = document.createElement('tbody');
      const tableRow = document.createElement('tr');
      const tableHeader = document.createElement('th');
      tableHeader.setAttribute('scope', 'row');
      tableHeader.textContent = 'Nuevo Elemento';
  
      const tableData = document.createElement('td');
      tableData.textContent = 'Contenido';
  
      tableRow.appendChild(tableHeader);
      tableRow.appendChild(tableData);
      tableBody.appendChild(tableRow);
      newTable.appendChild(tableBody);
  
      tablesContainer.appendChild(newTable);
      tableCount++;
    }
  </script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



