<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="theme-color" content="#4285f4"/>

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>

<app-sidebar-perfil-student></app-sidebar-perfil-student>

  <main id="main" style="    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(220,197,112,1) 0%, rgba(148,193,212,1) 62%);">
    

    <section style="     background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(220,197,112,1) 0%, rgba(148,193,212,1) 62%);">
     
  
        <div class="">
          <div class=" " >
            <div class="card5">
             
                <div class="rounded-bottom text-white d-flex " style="background-color: #000; height:200px; border-radius: 15px;">
                 
                  <div class="ms-5 mt-5 d-flex flex-column" style="width: 150px;">
                    
                    

                    <img src="{{usuario.foto}}"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 100%; z-index: 1">
                    <button  type="button" class="btn btn-outline-dark" data-mdb-ripple-color="white"
                      style="z-index: 1;" ><a href="editperfil-student">Editar Perfil</a>
                      
                    </button>
            
                  </div>
                  
                  <div class="ms-4 text-white" style="margin-top: 130px;">
                    <h5 style="color: #f0ffff;"><b>{{usuario.nombre}}</b></h5>
                    <p style="color: #f0ffff;">{{usuario.carrera}}</p>
                  </div>
                  
                  
                </div>
                
                <div class="rounded-top p-4" style="background-color: #f8f9fa; border-radius: 15px; margin-bottom: -35px;">
                  <div class="d-flex justify-content-center  py-5">
                    <div class="navbar-2" style="background-color: #f8f9fa; border-radius: 15px; margin-bottom: -65px;">
                        <div class="nav1-item"><a href="#Identicación del alumno">Mis Datos</a></div>
                      
                        <div class="nav1-item"><a href="#carnet">Carnet</a></div>
                        <div class="nav1-item"><a href="">Identicación del alumno</a></div>
                        <div class="nav1-item"><a href="#">Ficha de identificación</a></div>
                        <div class="nav1-item"><a href="#">Actividades</a></div>
                        
                      </div>
                  </div>
                </div>
              
              
            </div>
          </div>
        </div>
      </section>
 <!-- / Page Title-->
    <section class="section dashboard ">
     
        <section class="" style="background-color: #eee; border-radius: 25px; margin-bottom: 15px;">
        <section class="" style="background-color: #eeeeeede; border-radius: 25px; margin-bottom: 15px;">
            <div class="container py-4">
                <div class="" style="padding-top: 25px; text-align: center; font-size: 65px;">
                    <p class="mb-1" style=" font-size: 22px; padding-bottom: 15px;"><b>Información General</b></p>
                  </div>

                  
              <div class="row">  
                <div class="col-lg">
                  <!-- Segundo card -->
                  <div class="">
                     
                      <div style="width: px;">
                        <div class="" >

                          <div class="card55" style=" padding-left: 0px; margin-right: px;">
                            <div class="card-boody pt-3">
                              <!-- Bordered Tabs -->
                              
                              <div class="row text-center">
                                <div class="col-md-6">
                                  <div class="cardo ">
                                    <div class="tab-pane fade show active profile-overview" id="Identicación del alumno">
                                      <!-- Contenido de la segunda tarjeta -->
                                      <h5 class="card-title">Datos Personales</h5>
                  
                                    <div class="row"> 
                                      <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.nombre}} {{usuario.paterno}} {{usuario.materno}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Edad</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.edad}}</div>
                                    </div><hr>
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Fecha de Nacimiento</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.fnacimiento}}</div>
                                    </div><hr>
                  
                                   
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Direccion</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.direccion}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Telefono</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.telefono}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Correo Personal</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.emailp}}</div>
                                    </div><hr>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-md-6">
                                  <div class="cardo">
                                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                      <!-- Contenido de la primera tarjeta -->
                                      <h5 class="card-title" >Datos Academicos</h5>
                  
                                      <div class="row"> 
                                        <div class="col-lg-3 col-md-4 label ">Carrera</div>
                                        <div class="col-lg-9 col-md-8">{{usuario.carrera}}</div>
                                      </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Especialidad</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.especialidad}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Grupo</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.grupo}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Numeró de Control</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.control}}</div>
                                    </div><hr>
                  
                                    <div class="row">
                                      <div class="col-lg-3 col-md-4 label">Correo Institucional</div>
                                      <div class="col-lg-9 col-md-8">{{usuario.email}}</div>
                                    </div><hr>                                                                                                      
                                   </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><br><br>

                <div class="" style="padding-top: 25px; text-align: center; font-size: 65px;">
                  <p class="mb-1" style=" font-size: 22px; padding-bottom: 5px;"><b>Carnet</b></p>
                </div>
                <div class="row ">  
                  <div class="col-lg">
                    <!-- Segundo card -->
                    <div class="">
                       
                        <div style="width: px;">
                          <div class="" >
  
                            <div class="card55" style=" padding-left: 20px; margin-right: px;">
                              <div class="card-boody pt-3">
                                <!-- Bordered Tabs -->
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="cardo">
                                      <div class="tab-pane fade show active profile-overview" id="carnet">
                                        <!-- Contenido de la segunda tarjeta -->
                                        <h5 class="card-title text-center" style="margin-bottom: 30px;" >Aplicación del carnet del alumno</h5>
                    
                                      <div class="row" > 
                                        <div class="col-lg-3 col-md-4 label ">ENTREVISTAS: </div>
                                        <div style="font-size: 16px;" class="col-lg-9 col-md-8">Este apartado debera ser llenado cuando el tutor realice alguna entrevista al alumno en caso de ser necesario, ademas deberá contener la firma del alumno.</div>
                                      </div><hr><br>
                    
                                      
                                      <div class="row" >
                                        <div class="col-lg-3 col-md-4 label">CANALIZACIÓN: </div>
                                        <div style="font-size: 16px;" class="col-lg-9 col-md-8">Este apartado será llenado si el tutor o alguna otra persona canaliza al alumno a alguna área (médica, Psicológica, académica, administrativa) por alguna situación en particular, el tutor deberá de colocar la fecha de solicitud de canalización, el área a la que se canaliza en el espacio indicado y el responsable del área deberá poner su firma y la fecha del servicio otorgado.</div>
                                      </div><hr><br>
                  
                    
                                      <div class="row">
                                        <div class="col-lg-3 col-md-4 label"></div>
                                        <div class="col-lg-9 col-md-8">LA FINALIDAD DE ESTE CARNET ES LLEVAR UN CONTROL MAS CLARO DE LOS ALUMNOS Y SU PARTICIPACIÓN DENTRO DEL PROGRAMA INSTITUCIONAL DE TUTORÍAS Y LOS SERVICIOS QUE ESTE PROGRAMA OFRECE, ADEMÁS DE QUE SERVIRÁ COMO EVIDENCIA PARA QUE EL ALUMNO LIBERE SU CRÉDITO DE TUTORÍAS.</div>
                                      </div><hr>
                    
                                      
                                      </div>
                                    </div>
                                  </div>
                                
                                  <div class="col-md-6" >
                                    <div class="cardo" >
                                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                        <!-- Contenido de la primera tarjeta --><a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                          <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                        </a>
                                        <h5 class="card-title col-lg- col-md- label text-center" style="margin-bottom: -25px; border: #000;" >TECNOLÓGICO NACIONAL DE MÉXICO CAMPUS CIUDAD HIDALGO</h5>
                                        <hr style="color: #000 solid;">
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -10px; margin-bottom: 20px;">
                                            DEPARTAMENTO DE TUTORÍAS Y SERVICIOS
                                          </div>
                                        </div>
                                        <div class="row justify-content-center" style="font-size: 25px;">
                                          <div class="col-lg- col-md- label text-center">
                                           <b> CARNET DE CANALIZACIÓN TUTORIAS</b>
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            AGOSTO - JUNIO 2023
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center highlight-container" style="margin-top: -18px; margin-bottom: -5px; color: royalblue;">
                                            <mark style="background-color: #2c178ce1; color: rgb(255, 255, 255);">DEPARTAMENTO DE TUTORÍAS Y SERVICIOS</mark>
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            {{usuario.carrera}}
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            CARRERA
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            {{usuario.grupo}}
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            GRUPO
                                          </div>
                                        </div>
                    
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                            {{usuario.control}}
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            NO. CONTROL
                                          </div>
                                        </div>  
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                           {{usuario.paterno}} {{usuario.materno}} {{usuario.nombre}}        

                                           
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: -5px;">
                                            NOMBRE COMPLETO
                                          </div>
                                        </div>
                                        <div class="row justify-content-center">
                                          <div class="col-lg- col-md- label text-center" style="margin-top: 30px; margin-bottom: -3px;">
                                           *************************
                                           
                                          </div><hr>
                                          <div class="col-lg- col-md- label text-center" style="margin-top: -18px; margin-bottom: 15px;">
                                            NOMBRE Y FIRMA DEL TUTOR
                                          </div>
                                        </div><br>
                                                                                                                                           
                                     </div>
                                    </div>
                                  </div>

                                  <div>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><br><br>

                  <div class="" style="padding-top: -5px; text-align: center; font-size: 65px;">
                   
                  </div>
                  <div class="row ">  
                    <div class="col-lg">
                      <!-- Segundo card -->
                      <div class="">
                         
                          <div style="width: px;">
                            <div class="" >
    
                              <div class="card" style=" padding-left: 5px; padding-right: px;">
                                <div class="card-boody pt-3" id="carnet">
                                  <!-- Bordered Tabs -->
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class=""> 
                                        <div class="card"  style="  margin-right: 8px;">
                                          <div class="card-body">
                                            <h5 class="card-title text-center"  style="  margin-bottom: -25px;">TUTORIA INDIVIDUAL (ENTREVISTAS) <button class="add-button" onclick="addTable()">+</button><hr></h5>
                                            
                                            <p style="font-size: 10px; margin-top: -30px; margin-bottom: 12px;"><b>
                                              Nota: La Entrevista puede ser Personal, académica, Social, Profecional y/o Administrativa</b>
                                            </p>
                                            <table class="tabla-desktop">
                                              
                                              <tr>
                                                <th>Tema de la Entrevista</th>
                                                <th></th>
                                                <th>Fecha de Solicitud</th>
                                              </tr>
                                              <tr >
                                                <td style="padding-bottom: 30px;">{{entrevistas}}</td>
                                                <td style="padding-bottom: 30px;"></td>
                                                <td style="padding-bottom: 30px;">15/12/2023</td>
                                              </tr>
                                              <tr style="  padding-top: 0px;" >
                                                
                                                <th>Nombre y Firma del Alumno</th>
                                                <th></th>
                                                <th>Nombre y Firma del Tutor</th>
                                              </tr>
                                              <tr>
                                                <td style="padding-bottom: 36px;">
                                                  José Antonio Medina Esquivel
                                                  <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                  <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a> 
                                                </td>
                                                <td></td>
                                                <td style="padding-bottom: 36px;" >
                                                  Juan Carlos Madrigal Perez
                                                  <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                  <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a>
                                                </td>
                                                
                                              </tr>
                                             
                                            </table>
                                            
                                            <div class="tabla-mobile table-hover">
                                              <div class="fila">
                                                <div class="columna">
                                                  <div class="headeer">Tema de la Entrevista</div>
                                                    <div class="contenidoo">
                                                      Materias Atrasadas
                                                    </div> 
                                                </div>

                                                

                                                <div class="columna">
                                                  <div class="headeer">Fecha de Solicitud</div>
                                                    <div class="contenidoo">
                                                      15/12/2023
                                                    </div>
                                                </div>

                                              </div>

                                              <div class="fila">
                                                <div class="columna">
                                                  <div class="headeer">Nombre y Firma del Alumno</div>
                                                    <div class="contenidoo">
                                                      José Antonio Medina Esquivel
                                                  <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                  <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a>  
                                                    </div> 
                                                </div>

                                                <div class="columna">
                                                  <div class="headeer">Nombre y Firma del Tutor</div>
                                                    <div class="contenidoo">
                                                      Juan Carlos Madrigal Perez
                                                  <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                  <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                  </a>
                                                    </div>
                                                </div>

                                                

                                              </div>
                                            </div>
                              
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  
                                    <div class="col-md-6" >
                                      <div class="" >
                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                          <!-- Contenido de la primera tarjeta -->
                                          <div class="row">
                                            <div class="col-md-">
                                              <div class="" > 
                                                <div class="card" style="  margin-right: 8px;" >
                                                  <div class="card-body">
                                                    <h5 class="card-title text-center"  style="  margin-bottom: 5px;">CANALIZACIÓN ACADEMICA <button class="add-button" onclick="addTable()">+</button><hr></h5>
                                      
                                                    <!-- Table with hoverable rows -->
                                                    <table class="tabla-desktop table-hover">
                                                      <tr>
                                                        <th>Asesoria Academica</th>
                                                        <th>Nombre de la Asignatura</th>
                                                        <th>Fecha de Solicitud</th>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <input type="checkbox" id="perfilCheckbox"> <label for="perfilCheckbox">Perfil</label><br>
                                                          <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Ciencias Básicas</label>
                                                        </td>
                                                        <td>ProWeb</td>
                                                        <td>15/12/2023</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Status</th>
                                                        <th>Nombre y Firma del Tutor</th>
                                                        <th>Fecha de Atención</th>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <input type="checkbox" id="OrdinariaCheckbox"> <label for="OrdinariaCheckbox">Ordinaria</label><br>
                                                          <input type="checkbox" id="RepeticiónCheckbox"> <label for="RepeticiónCheckbox">Repetición</label><br>
                                                          <input type="checkbox" id="EspecialCheckbox"> <label for="EspecialCheckbox">Especial</label><br>
                                                              
                                                        </td>
                                                        <td>
                                                          Juan Carlos Madrigal Perez
                                                          <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                          <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                          </a>
                                                        </td>
                                                        <td>15/12/2023</td>
                                                      </tr>
                                                    </table>
        
                                                    <div class="tabla-mobile table-hover">
                                                      <div class="fila">
                                                        <div class="columna">
                                                          <div class="headeer">Asesoria Academica</div>
                                                            <div class="contenidoo">
                                                              <input type="checkbox" id="perfilCheckbox"> <label for="perfilCheckbox">Perfil</label><br>
                                                          <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Ciencias Básicas</label>        
                                                            </div> 
                                                        </div>
        
                                                        <div class="columna">
                                                          <div class="headeer">Nombre de la Asignatura</div>
                                                            <div class="contenidoo">
                                                              ProWeb
                                                            </div>
                                                        </div>
        
                                                        <div class="columna">
                                                          <div class="headeer">Fecha de Solicitud</div>
                                                            <div class="contenidoo">
                                                              15/12/2023
                                                            </div>
                                                        </div>
        
                                                      </div>
        
                                                      <div class="fila">
                                                        <div class="columna">
                                                          <div class="headeer">Status</div>
                                                            <div class="contenidoo">
                                                              <input type="checkbox" id="OrdinariaCheckbox"> <label for="OrdinariaCheckbox">Ordinaria</label><br>
                                                              <input type="checkbox" id="RepeticiónCheckbox"> <label for="RepeticiónCheckbox">Repetición</label><br>
                                                              <input type="checkbox" id="EspecialCheckbox"> <label for="EspecialCheckbox">Especial</label><br>
                                                                  
                                                            </div> 
                                                        </div>
        
                                                        <div class="columna">
                                                          <div class="headeer">Nombre y Firma del Tutor</div>
                                                            <div class="contenidoo">
                                                              Juan Carlos Madrigal Perez
                                                          <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                          <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                          </a>
                                                            </div>
                                                        </div>
        
                                                        <div class="columna">
                                                          <div class="headeer">Fecha de Atención</div>
                                                            <div class="contenidoo">
                                                              15/12/2023
                                                            </div>
                                                        </div>
        
                                                      </div>
                                                    </div>
                                                    <!-- End Table with hoverable rows -->                                    
                                                  </div>
                                                </div>
                                              </div>
                                            </div>          
                                            <div>                                              
                                           </div>
                                          </div>                                                                                                                      
                                       </div>
                                      </div>
                                    </div>  

                                    <div class="row">
                                      <div class="col-md-">
                                        <div class="" > 
                                          <div class="card" style="  margin-right: 8px;" >
                                            <div class="card-body">
                                              <h5 class="card-title text-center"  style="  margin-bottom: -25px;">CANALIZACIÓN <button class="add-button" onclick="addTable()">+</button><hr></h5>
                                
                                              <!-- Table with hoverable rows -->
                                              <table class="tabla-desktop table-hover">
                                                <tr>
                                                  <th class="text-center"></th>
                                                  <th style="margin-left: -50px;">Área de Canalización</th>
                                                  <th>Fecha de Solicitud</th>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Adicciones</label> <br>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Aptitudes Sobresalientes</label> <br>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Alimenticia</label> <br>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Manutención</label>
                                                    
                                                  </td>
                                                  <td>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Transporte</label><br>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Procesos Administrativos</label><br>
                                                    <input type="checkbox" id="perfilCheckbox"> <label for="perfilCheckbox">Psicologia</label><br>
                                                    <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Salud</label>
                                                  </td>
                                                  <td>15/12/2023</td>
                                                </tr>
                                                <tr>
                                                  <th>Departamento y Observaciones</th>
                                                  <th>Nombre y Firma del Tutor</th>
                                                  <th>Fecha de Atención</th>
                                                </tr>
                                                <tr>
                                                  <td>
                                                   El alumno Antonio Medina <br> 
                                                   Requiere de una merecida beca Alimenticia.
                                                  </td>
                                                  <td>
                                                    Juan Carlos Madrigal Perez
                                                    <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                    <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                    </a>
                                                  </td>
                                                  <td>15/12/2023</td>
                                                </tr>
                                              </table>
  
                                              <div class="tabla-mobile table-hover">
                                                <div class="fila">
                                                  <div class="columna">
                                                    <div class="headeer">Área de Canalización</div>
                                                      <div class="contenidoo">
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Adicciones</label> <br>
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Aptitudes Sobresalientes</label> <br>
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Alimenticia</label> <br>
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Manutención</label><br>
                                                        
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Beca Transporte</label><br>
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Procesos Administrativos</label><br>
                                                        <input type="checkbox" id="perfilCheckbox"> <label for="perfilCheckbox">Psicologia</label><br>
                                                        <input type="checkbox" id="cienciasCheckbox"> <label for="cienciasCheckbox">Salud</label>
                                                      </div> 
                                                  </div>
  
                                                  
  
                                                  <div class="columna">
                                                    <div class="headeer">Fecha de Solicitud</div>
                                                      <div class="contenidoo">
                                                        15/12/2023
                                                      </div>
                                                  </div>
  
                                                </div>
  
                                                <div class="fila">
                                                  <div class="columna">
                                                    <div class="headeer">Departamento y Observaciones</div>
                                                      <div class="contenidoo">
                                                        El alumno Antonio Medina 
                                                   Requiere de una merecida beca Alimenticia.  
                                                      </div> 
                                                  </div>
  
                                                  <div class="columna">
                                                    <div class="headeer">Nombre y Firma del Tutor</div>
                                                      <div class="contenidoo">
                                                        Juan Carlos Madrigal Perez
                                                    <a class="navbar-brand" href="https://cdhidalgo.tecnm.mx/" target="_blank">
                                                    <img style="height: auto; width: 39px; margin-bottom:-6px;"  src="assets/images/logo/itsch-1.png" alt="Logo"/>
                                                    </a>
                                                      </div>
                                                  </div>
  
                                                  <div class="columna">
                                                    <div class="headeer">Fecha de Atención</div>
                                                      <div class="contenidoo">
                                                        15/12/2023
                                                      </div>
                                                  </div>
  
                                                </div>
                                              </div>
                                              <!-- End Table with hoverable rows -->                                    
                                            </div>
                                          </div>
                                        </div>
                                      </div>          
                                      <div>                                              
                                     </div>
                                    </div> 

                                    
                                    <div>                                      
                                   </div>
                                  </div>                                 
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><br><br>

                <div class="" style="padding-top: 5px; text-align: center; font-size: 65px;">
                  <p class="mb-1" style=" font-size: 22px; padding-bottom: 15px;"><b>Identificación del alumno</b></p>
                </div>

                <!-- End Default Card -->

                <div class="card card-body row grid">
                  <div class="col-md-6">
                    <div class="card mb-3" style="background-color: #29167e; margin-top: 24px;">
                      <!-- contenido de la tarjeta -->
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img style="width: 150px; margin: 27px  10px 20px 28px;" src="{{usuario.foto}}" class="img-fluid rounded-start" alt="...">
                          
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title text-center text-white">TECNOLOGICO <br> NACIONAL DE MEXICO</h5>
                            <p class="card-text">
                            <p style="font-size: 20px; color: white;"><strong>Nombre:</strong> {{usuario.nombre}}</p>
                            <p style="font-size: 20px; color: white;"><strong>Carrera:</strong> {{usuario.carrera}}</p>
                            <p style="font-size: 20px; color: white;"><strong>Grupo:</strong> {{usuario.grupo}}</p>
                            <p style="font-size: 20px; color: white;"><strong>Numero de control:</strong> {{usuario.control}}</p>
                            <br>
                            <div class="d-flex justify-content-between">
                              <p style="font-size: 15px; color: white;">Agosto - Diciembre 2020</p>
                              <p style="font-size: 15px; color: white;">{{usuario.tsangre}}</p>
                            </div>
                            
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card mb-3" style="background-color: #29167e;">
                      <!-- contenido de la tarjeta -->
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img style="width: 150px; margin: 27px  10px 20px 36px;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title text-center text-white">TECNOLOGICO <br> NACIONAL DE MEXICO</h5>
                            <p class="card-text">
                              <p><strong>Carrera:</strong> Sistemas Computacionales</p>
                            <p><strong>Grupo:</strong> 077CA</p>
                            <p><strong>Numero de control:</strong> 123456789</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                  
                  

                <div class="card22" style="margin-left: 5px; justify-content: center;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Default Card</h5>
                  
                    Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
                    Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
                    Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
                 
                     
                  </div>

                </div><!-- End Default Card -->
                
              
            </div>
            
        </section>  
        
       
        </section>
        <div *ngIf="entrevistas.length > 0; else noEntrevistas">
          <h3>Entrevistas:</h3>
          <ul>
            <li *ngFor="let entrevista of entrevistas">
              <div *ngIf="entrevista.mapa">
                <p>Tema: {{ entrevista.mapa.tema }}</p>
                <p>Tutor: {{ entrevista.mapa.tutor }}</p>
                <p>Fecha: {{ entrevista.mapa.fecha | date:'dd/MM/yyyy' }}</p>
                <!-- Agrega más líneas según las propiedades de tu mapa -->
              </div>
            </li>
          </ul>
        </div>
        <ng-template #noEntrevistas>
          <p>No hay entrevistas disponibles.</p>
        </ng-template>
        
        <!-- Resto de tu código HTML -->
        
        
        
    </section></main>        
    
             
       
          
          
  

 

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script>
    let tableCount = 1;
  
    function addTable() {
      const tablesContainer = document.getElementById('tables-container');
      
      const newTable = document.createElement('table');
      newTable.className = 'table table-hover table-no-border'; 
  
      const tableBody = document.createElement('tbody');
      const tableRow = document.createElement('tr');
      const tableHeader = document.createElement('th');
      tableHeader.setAttribute('scope', 'row');
      tableHeader.textContent = 'Nuevo Elemento';
  
      const tableData = document.createElement('td');
      tableData.textContent = 'Contenido';
  
      tableRow.appendChild(tableHeader);
      tableRow.appendChild(tableData);
      tableBody.appendChild(tableRow);
      newTable.appendChild(tableBody);
  
      tablesContainer.appendChild(newTable);
      tableCount++;
    }
  </script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



