<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- ====== Header Start ====== -->
   <app-navbar-public></app-navbar-public>
    <!-- ====== Header End ====== -->
    
    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Iniciar Sesion 🚀</h1>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    
    <!-- ====== Login Start ====== -->
    <div class="containeer" >
      <div class="row" >
        <div class="col-lg-9" >
          <!-- Aquí va tu formulario de inicio de sesión -->
          <section class="ud-login" id="#up" style="border-radius: 12px; margin-top: -70px;">
            <div class="container" >
              <div class="text-center bg-color load " *ngIf="progreso"><h1>Iniciando Sesion </h1>
                <div  class=" container d-flex align-items-center justify-content-center">
                  <svg class="pencil" viewBox="0 0 200 200" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <clipPath id="pencil-eraser">
                        <rect rx="5" ry="5" width="30" height="30"></rect>
                      </clipPath>
                    </defs>
                    <circle class="pencil__stroke" r="70" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="439.82 439.82" stroke-dashoffset="439.82" stroke-linecap="round" transform="rotate(-113,100,100)" />
                    <g class="pencil__rotate" transform="translate(100,100)">
                      <g fill="none">
                        <circle class="pencil__body1" r="64" stroke="hsl(223,90%,50%)" stroke-width="30" stroke-dasharray="402.12 402.12" stroke-dashoffset="402" transform="rotate(-90)" />
                        <circle class="pencil__body2" r="74" stroke="hsl(223,90%,60%)" stroke-width="10" stroke-dasharray="464.96 464.96" stroke-dashoffset="465" transform="rotate(-90)" />
                        <circle class="pencil__body3" r="54" stroke="hsl(223,90%,40%)" stroke-width="10" stroke-dasharray="339.29 339.29" stroke-dashoffset="339" transform="rotate(-90)" />
                      </g>
                      <g class="pencil__eraser" transform="rotate(-90) translate(49,0)">
                        <g class="pencil__eraser-skew">
                          <rect fill="hsl(223,90%,70%)" rx="5" ry="5" width="30" height="30" />
                          <rect fill="hsl(223,90%,60%)" width="5" height="30" clip-path="url(#pencil-eraser)" />
                          <rect fill="hsl(223,10%,90%)" width="30" height="20" />
                          <rect fill="hsl(223,10%,70%)" width="15" height="20" />
                          <rect fill="hsl(223,10%,80%)" width="5" height="20" />
                          <rect fill="hsla(223,10%,10%,0.2)" y="6" width="30" height="2" />
                          <rect fill="hsla(223,10%,10%,0.2)" y="13" width="30" height="2" />
                        </g>
                      </g>
                      <g class="pencil__point" transform="rotate(-90) translate(49,-30)">
                        <polygon fill="hsl(33,90%,70%)" points="15 0,30 30,0 30" />
                        <polygon fill="hsl(33,90%,50%)" points="15 0,6 30,0 30" />
                        <polygon fill="hsl(223,10%,10%)" points="15 0,20 10,10 10" />
                      </g>
                    </g>
                  </svg>
                  
                </div>
              </div>
              
              <div class="row"*ngIf="!progreso">
                <div class="col-lg-12" >
                  <div class="ud-login-wrapper">
                    <div class="ud-login-logo">
                      <img style="width: 200px; margin-bottom: -30px; margin-left: auto;" src="assets/images/jaguar.jpeg" alt="logo" /> <br><br><br>
                      <label style="font-size: 28px; margin-bottom: 9px;"><b>Bienvenido a PsicoItsch</b> </label>
                    </div>
                    <div class="" style="display: flex; justify-content: center; ">
                      
                      <form class="form" style="border-radius: 12px; margin-top: -70px;" >
                        <div class="flex-column">
                          <label>Correo Institucional </label></div>
                          <div class="inputoForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20"><g data-name="Layer 3" id="Layer_3">
                              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
                            <input placeholder="Ingresa tu Correo" class="inputo" type="gmail" [(ngModel)]="usuario.email" name="gmail">
                          </div>
                        
                        <div class="flex-column">
                          <label>Contraseña </label></div>
                          <div class="inputoForm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
                            <input placeholder="Ingresa tu Contraseña" class="inputo" type="password" [(ngModel)]="usuario.psw" name="password">
                          </div>
                        
                          <div class="flex-row" style="display: flex; align-items: center;">
                            <div style="display: flex; align-items: center;">
                              <input type="radio" style="margin-right: 5px;">
                              <label style="margin: 0;">Recuérdame</label>
                            </div>
                            <span style="padding-left: 10px;" class="span">¿Olvidaste tu Contraseña?</span>
                          </div>
                        <button class="button-submit" type="submit" (click)="login()">Iniciar Sesión</button>
                        <p class="p">¿No estas Registrado? <span class="span"><a href="signup">Registrate aquí</a></span></p>
                        <p class="p line">O Inicia Sesión con:</p>
                    
                        <div class="flex-row">
                          <button class="btno google" (click)="loging()">
                            <svg xml:space="preserve" style="enable-background:new 0 0 512 512;" viewBox="0 0 512 512" y="0px" x="0px" 
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Layer_1" width="20" version="1.1">
                            <path d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
                              c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
                              C103.821,274.792,107.225,292.797,113.47,309.408z" style="fill:#FBBB00;"></path>
                            <path d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
                              c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
                              c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z" style="fill:#518EF8;"></path>
                            <path d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
                              c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
                              c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z" style="fill:#28B446;"></path>
                            <path d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
                              c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
                              C318.115,0,375.068,22.126,419.404,58.936z" style="fill:#F14336;"></path></svg>
                       
                            Google 
                            
                          </button>
                  </div>
                  </form>               
                     </div>                                     
                  </div>                  
                </div>                
              </div>      
            </div>
           
          </section>
        </div>
        <div class="col-lg-3">
          <!-- Aquí va el contenido de la sección "ball" -->
          <section class="form__animation" style=" margin-top: 90px; margin-left: -80px;">
            <div id="ball">
              <div class="ball">
                <div id="face">
                  <div class="ball__eyes">
                    <div class="eye_wrap"><span class="eye"></span></div>
                    <div class="eye_wrap"><span class="eye"></span></div>
                  </div>
                  <div class="ball__mouth"></div>
                </div>
              </div>
            </div>
            <div class="ball__shadow" style="margin-left: 30px;"></div>
          </section>
        </div>
      </div>
    </div>

    <!-- ====== Login End ====== -->

<app-footer-public></app-footer-public>

    <!-- ====== Back To Top Start ====== -->
    
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
     <script  src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-79264a40-3c75-01f9-5df8-3943faaf4806" crossorigin></script>
  </body>
</html>