<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Create Tutor</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">

</head>

<body>

 <app-sidebar-root></app-sidebar-root>

  <main id="main" class="main">
    <section  class="section dashboard;" style="background-image: url('assets/images/magic.png');
    opacity: 1; 
    opacity: 1; padding-left: 15px; padding-bottom: 20px; padding-top: 20px; border-radius: 15px;">
      <div class="pagetitle">
        <h1>Creacion de Tutores</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="home-root"  class="text-dark">Home</a></li>
            <li class="breadcrumb-item active">Tutores</li>
            <li class="breadcrumb-item active">Crear Tutores</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
   <!-- Page Title-->

   <p class="text-dark fw-bold ">Dar de alta Tutores</p><br>
   
  <div class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>
    </section>
   
    <section class="section">
      <div class="row align-items-center">
        <div class="col-lg-12 align-self-center">

          <div class="card align-self-center">
            <div class="card-body align-self-center">
              <h5 class="card-title"><i class="bi bi-megaphone"></i> Crear Tutores</h5>

             

              <!-- Floating Labels Form -->
              <form class="row g-3" (ngSubmit) = "onSubmit()" [formGroup]="avisoForm">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="nombre" placeholder="nombre" value="" formControlName="nombre" [(ngModel)]="admin.nombre" >
                    <label for="nombre"><i class="bi bi-at"></i> Nombre</label>
                  </div>
                  <div *ngIf="avisoForm.get('titulo')?.touched && avisoForm.get('titulo')?.errors?.['required']"
                  class="alert alert-danger">Este campo es Obligatorio</div>
                </div>
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-card-image"></i> Imagen de Perfil</label>
                  <div class="col-md-8 col-lg-6">
                    <div class="pt-2 text-center">
                      <img src="{{admin.foto}}" alt="Perfil" class="img-fluid mt-2 mx-auto d-block " style="width:50%;">
                      <a *ngIf="imagen" href="javascript:void(0)" class="btn btn-primary btn-sm m-3" title="subir foto"><input name="imagen" type="file"    (change)="uploadImage($event)"   class="form-control"><i class="bi bi-upload"></i></a>
                      <a  *ngIf="!imagen" href="javascript:void(0)"  class="btn btn-danger btn-sm mt-2" title="eliminar foto" (click)="eliminar()"><i class="bi bi-trash"></i></a>
                      
                      
                    </div>
                  </div>
                </div>
               
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="paterno" placeholder="" formControlName="paterno" [(ngModel)]="admin.paterno">
                    <label for="paterno"><i class="bi bi-file-earmark"></i> Apellido Paterno</label>
                  </div>
                  <div *ngIf="avisoForm.get('paterno')?.touched && avisoForm.get('paterno')?.errors?.['required']"
                  class="alert alert-danger">Este campo es Obligatorio</div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="materno" placeholder="" formControlName="materno" [(ngModel)]="admin.materno">
                      <label for="materno"><i class="bi bi-file-earmark"></i> Apellido Materno</label>
                    </div>
                    <div *ngIf="avisoForm.get('materno')?.touched && avisoForm.get('materno')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="carrera"  placeholder="" formControlName="carrera" [(ngModel)]="admin.carrera">
                    <label for="carrera"><i class="bi bi-suitcase-lg"></i> Carrera</label>
                  </div>
                  <div *ngIf="avisoForm.get('carrera')?.touched && avisoForm.get('carrera')?.errors?.['required']"
                  class="alert alert-danger">Este campo es Obligatorio</div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="direccion"  placeholder="" formControlName="direccion" [(ngModel)]="admin.direccion">
                    <label for="direccion"><i class="bi bi-geo-alt"></i> Direccion</label>
                  </div>
                  <div *ngIf="avisoForm.get('direccion')?.touched && avisoForm.get('direccion')?.errors?.['required']"
                  class="alert alert-danger">Este campo es Obligatorio</div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="telefono"  placeholder="" formControlName="telefono" [(ngModel)]="admin.telefono">
                      <label for="telefono"><i class="bi bi-telephone"></i> Telefono</label>
                    </div>
                    <div *ngIf="avisoForm.get('telefono')?.touched && avisoForm.get('direccion')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>


                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="division" class="form-control" id="division"  placeholder="" formControlName="division" [(ngModel)]="admin.division">
                      <label for="division"><i class="bi bi-lock"></i>Division</label>
                    </div>
                    <div *ngIf="avisoForm.get('grupo')?.touched && avisoForm.get('grupo')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>

                  <div class="col-md-6">
                    
                    <div class="form-floating">
                        <select  [(ngModel)]="admin.grupo" class="form-select" name="grupo" formControlName="grupo" required>
                          <option selected>Elige tu Grupo</option>
                          <option value="071CA">071CA</option>
                          <option value="071DB">071DB</option>
                          <option value="072CA">072CA</option>
                          <option value="072DB">072DB</option>
                          <option value="073CA">073CA</option>
                          <option value="073DB">073DB</option>
                          <option value="074CA">074CA</option>
                          <option value="074DB">074DB</option>
                          <option value="075CA">075CA</option>
                          <option value="075DB">075DB</option>
                          <option value="076CA">076CA</option>
                          <option value="076DB">076DB</option>
                          <option value="077CA">077CA</option>
                          <option value="078CA">078CA</option>
                          <option value="078DB">078DB</option>
                          <option value="079CA">079CA</option>
                        </select>
                    </div>
                    <div *ngIf="avisoForm.get('psw')?.touched && avisoForm.get('psw')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>
                 
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="email"  placeholder="" formControlName="email" [(ngModel)]="admin.email">
                      <label for="email"><i class="bi bi-envelope"></i> Email</label>
                    </div>
                    <div *ngIf="avisoForm.get('email')?.touched && avisoForm.get('email')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="password" class="form-control" id="psw"  placeholder="" formControlName="psw" [(ngModel)]="admin.psw">
                      <label for="psw"><i class="bi bi-lock"></i>Password</label>
                    </div>
                    <div *ngIf="avisoForm.get('psw')?.touched && avisoForm.get('psw')?.errors?.['required']"
                    class="alert alert-danger">Este campo es Obligatorio</div>
                  </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Crear</button>
           
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Spartan Web</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">Spartan Web</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>