<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tutores</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   
  <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/../assets/vendor/simple-datatables/style.css" rel="stylesheet">

</head>

<body>

 <app-sidebar-root></app-sidebar-root>

  <main id="main" class="main">
    <section  class="section dashboard;" style="background: linear-gradient(135deg, #63b9ff80 50%, transparent 0),linear-gradient(-135deg, #63b9ff80 50%, transparent 0);
    background-size: 2em 2em;
    background-color: #ffffff;
    opacity: 1; padding-left: 15px; padding-bottom: 20px; padding-top: 20px; border-radius: 15px;">
      <div class="pagetitle">
        <h1>Todos los Avisos</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tutores</li>
            <li class="breadcrumb-item active">Todos los tutores</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
   <!-- Page Title-->

   <p class="text-muted ">Todos los tutores</p><br>
   
  <div class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>
    </section>
    
   

    <div class="container rounded mt-5 bg-white p-md-5">
      <div class="h2 font-weight-bold">tutores</div>
      <div class="table-responsive">
          <table class="table" >
              <thead>
                  <tr>
                      <th scope="col">Nombre Completo</th>
                      <th scope="col">Division</th>
                      <th scope="col">Grupo</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="bg-blue" *ngFor="let admin of admins">
                      <td class="pt-2"> <img src="{{admin.data.foto}}" class="rounded-circle" alt="">
                          <div class="pl-lg-5 pl-md-3 pl-1 name">{{ admin.data.nombre }}  {{ admin.data.paterno }} {{ admin.data.materno }}</div>
                      </td>
                      <td class="pt-3 mt-1">{{admin.data.division}}</td>
                      <td class="pt-3">{{admin.data.grupo}}</td>
                      <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
                      <td class="pt-3"><span class="badge bg-info"><a class="text-white" href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"(click)="editar(admin.id)">Editar </a></span>
                        <span class="badge bg-danger"><a class="text-white" href="javascript:void(0)" (click)="eliminar(admin.id)">Eliminar</a></span></td>
                     
                  </tr>
             
              </tbody>
          </table>
      </div>
  </div>

  <div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Manejo de <b>tutores</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="#" class="btn btn-secondary"><i class="bi bi-plus"></i><span>Agregar tutor</span></a>
                        
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Completo</th>						
                        <th>Divison</th>
                        <th>Grupo</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let admin of admins index:i">
                        <td>i+1</td>
                        <td><a href="#"><img src="assets/images/pxfuel.jpg" class="avatar" alt="Avatar">{{ admin.data.nombre }} {{ admin.data.paterno }} {{ admin.data.materno }}</a></td>
                        <td>{{ admin.data.division }}</td>                        
                        <td>{{ admin.data.grupo }}</td>
                        <td><span class="status text-success">&bull;</span> Active</td>
                        <td>
                            <a href="#" class="settings" title="Editar" data-toggle="tooltip"><i class="bi bi-pencil"></i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>
    
  
    
   

  <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Psicologa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-lg-12 align-self-center">
    
              <div class="card align-self-center">
                <div class="card-body align-self-center">
                  <h5 class="card-title"><i class="bi bi-megaphone"></i>Psicologa</h5>
    
                 
    
                  <!-- Floating Labels Form -->
                  <form class="row g-3" [formGroup]="avisoeditForm">
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="nombre"  value="{{admine.nombre}}" [(ngModel)]="admine.nombre" formControlName="nombre"  >
                        <label for="titulo"><i class="bi bi-at"></i> nombre</label>
                      </div>
                      
                    </div>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"><i class="bi bi-card-image"></i> Imagen de Perfil</label>
                      <div class="col-md-8 col-lg-8">
                        <div class="pt-2 text-center">
                            <img src="{{admine.foto}}" alt="Foto" class="img-fluid mt-2 mx-auto d-block " style="width:50%;">
                            <a *ngIf="imagen" href="javascript:void(0)" class="btn btn-primary btn-sm m-3" title="subir foto"><input name="imagen" type="file"     class="form-control" (change)="uploadImage($event)"><i class="bi bi-upload"></i></a>
                            <a  *ngIf="!imagen" href="javascript:void(0)"  class="btn btn-danger btn-sm mt-2" title="eliminar foto" (click)="eliminaf()"><i class="bi bi-trash"></i></a>
                            
                            
                        </div>
                      </div>
                    </div>
                   
                   
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="paterno" placeholder="" formControlName="paterno" 
                        value="{{admine.paterno}}"
                        [(ngModel)]="admine.paterno" >
                        <label for="paterno"><i class="bi bi-file-earmark"></i> Apellido Paterno</label>
                      </div>
                      
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="lugar"  value="{{admine.materno}}"formControlName="materno" [(ngModel)]="admine.materno" >
                        <label for="materno"><i class="bi bi-geo-alt"></i> Apellido Materno</label>
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="telefono"  value="{{admine.telefono}}" formControlName="tel" [(ngModel)]="admine.telefono" >
                        <label for="telefono"><i class="bi bi-calendar"></i> Telefono</label>
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="direccion"  value="{{admine.direccion}}" formControlName="direccion" [(ngModel)]="admine.direccion" >
                          <label for="direccion"><i class="bi bi-calendar"></i> Direccion</label>
                        </div>
                        
                      </div>
                   
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="division"  value="{{admine.division}}" formControlName="division" [(ngModel)]="admine.division" >
                          <label for="division"><i class="bi bi-calendar"></i> Division</label>
                        </div>
                        
                      </div>

                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="carrera"  value="{{admine.carrera}}" formControlName="carrera" [(ngModel)]="admine.carrera" >
                          <label for="carrera"><i class="bi bi-calendar"></i>Carrera</label>
                        </div>
                        
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="grupo"  value="{{admine.grupo}}" formControlName="direccion" [(ngModel)]="admine.grupo" >
                          <label for="grupo"><i class="bi bi-calendar"></i> Grupo</label>
                        </div>
                        
                      </div>
                    
                  </form><!-- End floating Labels Form -->
    
                </div>
              </div>
    
            </div>
          </div>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editardocumento()" >Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div><!-- End Modal Dialog Scrollable-->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Spartan Web</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">Spartan Web</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>