/* Estilos CSS para la sección de Psicología */
.psychology-section {
    background-color: #ee0000;
    padding: 100px 0;
    align-items: center;
    width: 1000px;
  }

  .btna {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btna:active {
    scale: 0.92;
  }
  
  .btna:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 105, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  /*____________*/
  .buttoon {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #3E54FF;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .buttoon::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: transparent;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .buttoon::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: transparent;
    transition: 0.5s;
  }
  
  .buttoon:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .buttoon:hover {
    box-shadow: inset 0px 0px 25px #3E54FF;
  }
  

  /*_______*/
  .card {
    position: relative;
    width: 380px;
    height: 370px;
    background-color: #f2f2f2;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 68px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 25px;
    font-size: 44px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 24px;
    color: #777;
    line-height: 1.4;
  }

  .cardq__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  }
  
  
  /*_______*/
  


/* Estilos para Navbar 2 */
/* Estilos base para la barra de navegación */
.navbar-2 {
  background-color: #f0ffff11;
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 20px;
}

.nav1-item {
  margin: 0 20px;
}

.nav1-item a {
  color: #000000;
  text-decoration: none;
  position: relative; /* Necesario para el posicionamiento de la línea */
  display: inline-block; /* Hacer que el enlace sea un bloque en línea */
  padding: 5px 10px; /* Ajusta el relleno alrededor del texto */
}

.nav1-item a::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px; /* Altura de la línea */
  bottom: 0; /* Alinear la línea con la parte inferior del enlace */
  background-color: #181511; /* Color de la línea */
  transform: scaleX(0); /* Inicialmente, la línea no es visible */
  transform-origin: bottom right; /* La línea se extiende desde la derecha */
  transition: transform 0.3s; /* Transición suave de la línea al hacer hover */
}

.nav1-item a:hover::before {
  transform: scaleX(1); /* Mostrar la línea completa al hacer hover */
}

/* Estilos para hacerlo responsive en pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar-2 {
    flex-direction: column; /* Cambiar a diseño de columna */
    align-items: center; /* Centrar elementos verticalmente */
  }

  .nav1-item {
    margin: 10px 0; /* Espacio vertical entre elementos */
  }
}









.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }



   /*__datos alumno_____*/
   .card1 {
    position: relative;
    width: 380px;
    height: 100%;
    background-color: #ffffff;
    
    border-radius: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    
    perspective: 100px;
    box-shadow: 100px 0 1px 5px #ffffff00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .card1:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card2 {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card2:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  .card3 {
    position: relative;
    width: 380px;
    height: 500px;
    background-color: #ffffff;
    
    border-radius: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    
    perspective: 100px;
    box-shadow: 100px 0 1px 5px #ffffff00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .card3:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  



  
  
<<<<<<< HEAD
  ______
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title1 {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title1::before,.title1::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title1::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title1::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .flex {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    width: 100%;
    gap: 6px;
}

.inputa {
  flex: 1; /* Hace que cada campo de entrada ocupe el mismo espacio disponible */
  width: 100%; /* Establece un ancho específico para los campos de entrada */
}
  
  .form label {
    position: relative;
  }
  
  .form label .inputa {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .inputa + span {
    position: absolute;
    left: 10px;
    top: 1px;
    color: grey;
    font-size: 0.8em;
    cursor: text;
    transition: 0.3s ease;
    margin-bottom: 15px;
  }
  
  .form label .inputa:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .inputa:focus + span,.form label .inputa:valid + span {
    top: -5px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .inputa:valid + span {
    color: green;
  }
  br {
    line-height: 0.5;
}
  .submit1 {
    width: 220px;
    margin: 0 auto; /* Centra horizontalmente el botón */
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    justify-items: center; /* Esto debe ser justify-content en su lugar */
}
  
  .submit1:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }









  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputoForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .inputo {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .inputo:focus {
    outline: none;
  }
  
  .inputoForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btno {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btno:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
      




  /*carrusel*/
  .card-boody {
    padding: 10px 10px 10px 10px;
}
.card4 {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: -40px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  perspective: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card4:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
=======
<<<<<<< Updated upstream
  
=======
  /*_______*/
  


/* Estilos para Navbar 2 */
/* Estilos base para la barra de navegación */
.navbar-2 {
  background-color: #f0ffff11;
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 20px;
}

.nav1-item {
  margin: 0 20px;
}

.nav1-item a {
  color: #000000;
  text-decoration: none;
  position: relative; /* Necesario para el posicionamiento de la línea */
  display: inline-block; /* Hacer que el enlace sea un bloque en línea */
  padding: 5px 10px; /* Ajusta el relleno alrededor del texto */
}

.nav1-item a::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px; /* Altura de la línea */
  bottom: 0; /* Alinear la línea con la parte inferior del enlace */
  background-color: #181511; /* Color de la línea */
  transform: scaleX(0); /* Inicialmente, la línea no es visible */
  transform-origin: bottom right; /* La línea se extiende desde la derecha */
  transition: transform 0.3s; /* Transición suave de la línea al hacer hover */
}

.nav1-item a:hover::before {
  transform: scaleX(1); /* Mostrar la línea completa al hacer hover */
}

/* Estilos para hacerlo responsive en pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar-2 {
    flex-direction: column; /* Cambiar a diseño de columna */
    align-items: center; /* Centrar elementos verticalmente */
  }

  .nav1-item {
    margin: 10px 0; /* Espacio vertical entre elementos */
  }
}









.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }



   /*__datos alumno_____*/
   .card1 {
    position: relative;
    width: 380px;
    height: 100%;
    background-color: #ffffff;
    
    border-radius: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    
    perspective: 100px;
    box-shadow: 100px 0 1px 5px #ffffff00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .card1:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card2 {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card2:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  .card3 {
    position: relative;
    width: 380px;
    height: 500px;
    background-color: #ffffff;
    
    border-radius: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    
    perspective: 100px;
    box-shadow: 100px 0 1px 5px #ffffff00;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .card3:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  

  
  /*_______*/
>>>>>>> Stashed changes
>>>>>>> master
